# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
frontend/dist/
dist/
build/

# Sensitive
backend/accounts.json
